{
  "extends": "../babel.config.js",
  "plugins": [
    [
      "babel-plugin-stub-import",
      {
        "test": {
          "importName": "\\w+Container$",
          "importPath": "\\/components\\/"
        },
        "stubTo": "<rootDir>/.storybook/Stub"
      }
    ]
  ]
}
