{
  "extends": "../babel.config.js",
  "plugins": [
    [
      "babel-plugin-storybook-stub",
      {
        "importedNameToStub": "\\w+Container$",
        "stubWith": "<rootDir>/.storybook/Stub"
      }
    ]
  ]
}
